/*页首*/
header {
  height: 72px;
  min-width: 1000px;
}
header .left-bar {
  font-size: 16px;
}
header ul.navbar-nav {
  list-style: none;
  *zoom: 1;
}
header ul.navbar-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
header ul.navbar-nav:before,
header ul.navbar-nav:after {
  display: table;
  content: "";
}
header ul.navbar-nav:after {
  clear: both;
}
header ul.navbar-nav > li {
  display: block;
  float: left;
  text-align: center;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 4px;
  line-height: 72px;
  margin: 0 20px;
  cursor: pointer;
}
header ul.navbar-nav > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
header ul.navbar-nav > li.no-margin {
  margin: 0;
}
header ul.navbar-nav > li.active {
  color: #f77b6f;
  text-decoration: none;
}
header ul.navbar-nav > li:hover {
  color: #f77b6f;
  text-decoration: none;
}
header ul.navbar-nav > li:hover .dropdown-menu {
  color: #000;
  font-weight: normal;
}
.mini-header ul.nav {
  list-style: none;
  *zoom: 1;
}
.mini-header ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.mini-header ul.nav:before,
.mini-header ul.nav:after {
  display: table;
  content: "";
}
.mini-header ul.nav:after {
  clear: both;
}
.mini-header ul.nav > li {
  display: block;
  float: left;
}
.mini-header ul.nav > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
header ul.navbar-nav.left-bar {
  float: left;
  margin-left: 40px;
}
header ul.navbar-nav.right-bar {
  float: right;
  margin-left: 20px;
}
.mini-header ul.nav.right-bar {
  float: right;
  margin-left: 20px;
}
header ul.navbar-nav.right-bar > li {
  width: 80px;
}
header .right-bar > li:hover {
  color: #f77b6f;
  text-decoration: none;
  cursor: pointer;
}
header .right-bar > li:hover .dropdown-menu {
  color: #000;
  font-weight: normal;
}

a.logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 100%;
  float: left;
  font-size: 0;
}
a.logo img {
  height: 72px;
  width: auto;
}
.slogon {
    float: left;
    color: #c7161e;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: 32px;
    font-size: 14px;
}
      
/*菜单栏*/
.dropdown-menu {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  background: #eee;
}
.dropdown.open .dropdown-menu {
  display: block;
}
.dropdown.active .dropdown-menu {
  display: block;
}
.header .dropdown-menu .site-wrapper li {
  float: left;
  padding: 6px 12px;
}
.site-wrapper {
  *zoom: 1;
}
.site-wrapper:before,
.site-wrapper:after {
  display: table;
  content: "";
}
.site-wrapper:after {
  clear: both;
}

.site-wrapper {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  /*min-width: 768px*/
}

