/* normalize */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Microsoft Yahei UI", "Microsoft Yahei", SimSun, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  background: transparent;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
form {
  margin: 0;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
input,
select,
textarea,
button {
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
a {
  *color: expression(this.parentNode.currentStyle.color);
}
hr {
  border: none;
  height: 1px;
}
/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  max-width: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.main-title {
  font-size: 36px;
  margin-bottom: 72px;
}
.box-container:before,
.box-container:after {
  display: table;
  content: "";
}
.box-container:after {
  clear: both;
}
.box-container .box {
  display: block;
  float: left;
}
.section {
  padding: 72px 28px;
  position: relative;
}
.section > img {
  width: 100%;
  height: auto;
}
.section > .inner {
  width: 1200px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.section.part_1 {
  padding: 0;
}
.section.part_1 .inner {
  height: 100%;
}
.section.part_1 .btn-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 0;
  margin: 0 auto;
}
.section.part_1 .btn-container .btn {
  width: 10%;
  height: auto;
  cursor: pointer;
}
.section.part_2 .inner:before,
.section.part_2 .inner:after {
  display: table;
  content: "";
}
.section.part_2 .inner:after {
  clear: both;
}
.section.part_2 .left-region,
.section.part_2 .right-region {
  float: left;
  width: 50%;
}
.section.part_2 .left-region {
  padding-right: 60px;
}
.section.part_2 .left-region img {
  width: 100%;
}
.section.part_2 .right-region {
  padding-left: 60px;
}
.section.part_2 .right-region .segement {
  margin-bottom: 20px;
}
.section.part_2 .right-region .title {
  font-size: 30px;
  margin-bottom: 10px;
}
.section.part_2 .right-region .content {
  font-size: 18px;
}
/* -button */
.section.part_2 .right-region button {
  font-size: 28px;

  width: 160px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-left: 10px;
}
.section.part_2 .right-region button.default {

  background-color: #fff;
  color: #F05722; 
  border: solid 1px #F05722;
}
.section.part_2 .right-region button.primary {
  background-color: #F05722;
  color: #fff;  
}
.section.part_2 .highlight {
  text-align: center;
  color:#F05722;
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
  letter-spacing: 2px;
  
}
.section.part_2 .highlight span {
  font-size: 28px;
}
.section.part_3 {
/*  background-image: url(../images/background.png);*/
  background-color: #46a4d5;
    background-color: rgba(70,164,212,0.9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
.section.part_3 .main-title {
  font-size: 36px;
  margin-bottom: 72px;
}
.section.part_3 .table {
  margin: 0 auto;
  max-width: 100%;
  width: 1098px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
.section.part_3 .table .tr {
  border: solid 1px #fff;
  margin-top: -1px;
}
.section.part_3 .table .tr:before,
.section.part_3 .table .tr:after {
  display: table;
  content: "";
}
.section.part_3 .table .tr:after {
  clear: both;
}
.section.part_3 .table .tr .title,
.section.part_3 .table .tr .content {
  float: left;
}
.section.part_3 .table .tr .title {
  font-size: 28px;
  width: 30%;
  line-height: 96px;
  vertical-align: middle;
  text-align: left;
  padding-left: 60px;
}
.section.part_3 .table .tr .content {
  border-left: solid 1px #fff;
  font-size: 24px;
  width: 70%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: -10px;
}
.section.part_3 .table .tr .content p {
  margin: 0;
  margin-bottom: 10px;
}
.section.part_3 .thead {
  width: 100%;
  height: 58px;
  line-height: 58px;
  background-color: #FFF83D;
  font-size: 28px;
  color: #2591C1;
}
.section.part_4 .main-title {
  color: #329BD2;
}
.section.part_4:before,
.section.part_4:after {
  display: table;
  content: "";
}
.section.part_4:after {
  clear: both;
}
.section.part_4 .left-region {
  float: left;
  width: 50%;
  padding-left: 60px;
}
.section.part_4 .left-region ul li {
  margin-bottom: 70px;
  font-size: 28px;
  color: #3E3A39;
}
.section.part_4 .right-region {
  float: left;
  width: 50%;
}
.section.part_5 {
/*  background-image: url(../images/bg.png);*/
  background-color: #104278;
  background-color: rgba(16,68,120,0.9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
.section.part_5 .box {
  width: 25%;
  margin-bottom: 32px;
}
.section.part_5 .box .image {
  margin-bottom: 16px;
}
.section.part_6 {
  color: #329BD2;
}
.section.part_6 .main-title {
  color: #329BD2;
}
.section.part_6 .box {
  width: 25%;
}
.section.part_6 .image {
  line-height: 0;
  margin-bottom: 32px;
}
.section.part_6 .title {
  font-size: 24px;
  margin-bottom: 32px;
}
.section.part_6 .content {
  font-size: 18px;
}
.section.part_6 .content p {
  margin: 0;
  margin-bottom: 10px;
}
.section.part_2 .title .icon {
  display: inline-block;
  width: 40px;
  height: 30px;
  background-image: url(../images/sprite.png);
  vertical-align: -3px;
}
.section.part_2 .title .icon-2 {
  background-position: -40px 0;
}
.section.part_2 .title .icon-3 {
  background-position: -80px 0;
}
.section.part_3 .icon {
  display: inline-block;
  width: 69px;
  height: 69px;
  vertical-align: middle;
  margin-right: 32px;
}
.section.part_3 .icon-1 {
  background: url(../images/tr_1.png);
}
.section.part_3 .icon-2 {
  background: url(../images/tr_2.png);
}
.section.part_3 .icon-3 {
  background: url(../images/tr_3.png);
}
.main-title.title-bg {
  border-bottom: solid 5px #FFF83D;
  display: inline-block;
  padding-bottom: 10px;
}
.main-body {
  position: relative;
}
#toTop {
  width: 80px;
  height: auto;
  position: absolute;
  bottom: 0;
  font-size: 0;
  left: 50%;
  margin-left: -40px;
  line-height: 0;
}
#toTop img {
  width: 100%;
  height: auto;
}
a[title="站长统计"] {
  display: none;
}
.pull-left {
  float: left;
}

