<template name="active">
<div class="navbar navbar-kyl navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> <a href="#"><img src="/images/logo.png"></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="cur"><a href="index.html">首页</a></li>
        <li><a href="fuwu.html">创业服务</a></li>
        <li><a href="zhishiku.html">知识库</a></li>
        <li><a href="chuangye.html">创业加速器</a></li>
      </ul>
      <ul class="navbar-right list-inline hidden-sm">
        <li><a href="#" class="a-grey">你好，请登录</a></li>
        <li><a href="#" class="a-grey">免费注册</a></li>
        <li>|</li>
        <li><a href="#">创业大本营</a></li>
        <li>|</li>
        <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"> <i class="wx-icon"></i>开业啦微信 </a>
          <div class="dropdown-menu" role="menu"> <img src="/images/ewm-kyl.png" width="160">
            <p>关注开业啦微信公众账号</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background:url(/images/banenr.jpg) top center;"> </div>
      <div class="item" style="background:url(/images/banenr.jpg) top center;"> </div>
    </div>
  </div>
  <div class="container">
    <div class="free-box">
      <h1>免费咨询</h1>
      <h2>输入手机号码，点击免费咨询，<br>
        我们的客服会在15秒内回拨给您</h2>
      <hr>
      <form>
        <div class="form-group">
          <label for="mobile">手机号码：</label>
          <input type="email" class="form-control" id="mobile" placeholder="例如：13888888888">
        </div>
        <a href="#" class="btn btn-kyl btn-block">立即提交</a>
      </form>
    </div>
  </div>
</div>
<div class="page grey-bg">
  <div class="container">
    <h1>注册公司 仅需<span class="text-kyl">3步</span></h1>
    <div class="row step3">
      <div class="col-xs-3 col-xs-offset-2">
        <div class="line-box img-circle"><img src="/images/icon-hm.png" class="img-responsive"></div>
        <h2>在线核名</h2>
      </div>
      <div class="col-xs-3">
        <div class="line-box img-circle"><img src="/images/icon-tjcl.png" class="img-responsive"></div>
        <h2>提交材料</h2>
      </div>
      <div class="col-xs-3">
        <div class="line-box img-circle"><img src="/images/icon-qzdj.png" class="img-responsive"></div>
        <h2>取照登记</h2>
      </div>
      <span class="glyphicon glyphicon-arrow-right arrow-1"></span> <span class="glyphicon glyphicon-arrow-right arrow-2"></span> </div>
  </div>
</div>
<div class="page">
  <div class="container">
    <h1>过去 <span class="text-kyl">VS</span> 现在</h1>
    <div class="row">
      <div class="col-xs-12 text-center"> <img src="/images/img-pk.png" class="img-responsive"> </div>
    </div>
  </div>
</div>
<div class="page grey-bg">
  <div class="container">
    <h1>开业啦的<span class="text-kyl">优势</span></h1>
    <div class="row step3">
      <div class="col-xs-3 col-xs-offset-2 br">
        <div class="line-box img-circle"><img src="/images/icon-zy.png" class="img-responsive"></div>
        <h2>自营</h2>
        <ul class="list-unstyled text-center">
          <li>业务办理</li>
          <li>自营管理</li>
          <li>品质保证</li>
          <li>流程高效</li>
        </ul>
      </div>
      <div class="col-xs-3 br">
        <div class="line-box img-circle"><img src="/images/icon-tm.png" class="img-responsive"></div>
        <h2>透明</h2>
        <ul class="list-unstyled text-center">
          <li>价格陷阱</li>
          <li>无处藏身</li>
          <li>业务进度</li>
          <li>实时监控</li>
        </ul>
      </div>
      <div class="col-xs-3">
        <div class="line-box img-circle"><img src="/images/icon-fb.png" class="img-responsive"></div>
        <h2>方便</h2>
        <ul class="list-unstyled text-center">
          <li>线上提交</li>
          <li>专人服务</li>
          <li>足不出户</li>
          <li>送证到家</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page">
  <div class="container">
    <h1>我们如何<span class="text-kyl">服务</span></h1>
    <div class="row services-we">
      <div class="col-xs-3 text-center">
        <div class="box"> <img src="/images/icon-ks.png" width="60">
          <h2>2分钟快速响应</h2>
          <hr>
          <p>提交手机号码后<br>
            2分钟内立即与您联系</p>
        </div>
      </div>
      <div class="col-xs-3 text-center">
        <div class="box"> <img src="/images/icon-ydy.png" width="60">
          <h2>一对一售前咨询</h2>
          <hr>
          <p>专业人员一对一服务<br>
            帮你预控前期注册风险</p>
        </div>
      </div>
      <div class="col-xs-3 text-center">
        <div class="box"> <img src="/images/icon-lcjd.png" width="60">
          <h2>流程节点提醒</h2>
          <hr>
          <p>流程中每个节点<br>
            会有短信或微信提醒</p>
        </div>
      </div>
      <div class="col-xs-3 text-center">
        <div class="box"> <img src="/images/icon-sf.png" width="60">
          <h2>顺丰安全抵达</h2>
          <hr>
          <p>所有材料精心包装<br>
            通过顺丰快递送达</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page grey-bg our-client">
  <div class="container">
    <h1>看看他们<span class="text-kyl">怎么说</span></h1>
    <div class="row">
      <div class="col-xs-12">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media block" data-rotate-y="270deg" data-move-x="-150%">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media block" data-rotate-y="270deg" data-move-x="150%">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="media">
                    <div class="pull-left"><img width="80" class="img-circle" src="/images/sm-icon.jpg"><span class="caret"></span></div>
                    <div class="media-body">
                      <p>全程保障，交易安全，满意后再付款，出现问题双倍赔付!</p>
                    </div>
                    <div class="text-right">
                      <p>开业啦CEO<strong>·</strong><span class="text-danger">虞波</span> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="paginationGd"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page friend-link">
  <div class="container">
    <h1>战略合作 / 友情链接</h1>
    <div class="row">
      <div class="col-xs-4">
        <div class="bd-box text-center"><img src="/images/logo11.png"></div>
      </div>
      <div class="col-xs-4">
        <div class="bd-box text-center"><img src="/images/logo12.png"></div>
      </div>
      <div class="col-xs-4">
        <div class="bd-box text-center"><img src="/images/logo13.png"></div>
      </div>
    </div>
    <div class="row"> <span class="col-xs-3"> <img src="/images/logo1.png"> </span> <span class="col-xs-3"> <img src="/images/logo2.png"> </span> <span class="col-xs-3"> <img src="/images/logo3.png"> </span> <span class="col-xs-3"> <img src="/images/logo4.png"> </span> <span class="col-xs-3"> <img src="/images/logo5.png"> </span> <span class="col-xs-3"> <img src="/images/logo1.png"> </span> <span class="col-xs-3"> <img src="/images/logo2.png"> </span> <span class="col-xs-3"> <img src="/images/logo3.png"> </span> <span class="col-xs-3"> <img src="/images/logo4.png"> </span> <span class="col-xs-3"> <img src="/images/logo5.png"> </span> <span class="col-xs-3"> <img src="/images/logo1.png"> </span> <span class="col-xs-3"> <img src="/images/logo2.png"> </span> </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="col-xs-7">
      <p><a href="aboutus.html">关于我们</a><span>|</span><a href="joinus.html">加入我们</a><span>|</span><a href="contactus.html">联系我们</a><span>|</span><a href="problem.html">常见问题</a><span>|</span><a href="help.html">支付帮助</a></p>
      <p>Copyright © 2015<span>开业啦(上海)网络技术有限公司</span>版权所有</p>
    </div>
    <div class="col-xs-5">
      <dl>
        <dt>周一至周日： 8:00-21:00 </dt>
        <dd>400-030-8633</dd>
      </dl>
    </div>
  </div>
</div>

<!--客服右侧浮动-->
<div class="kefu zoomInDown">
	<div class="kf-header"><img src="/images/kefu.png"></div>
    <a href="#" class="close-a"><span class="glyphicon glyphicon-remove"></span></a>
    <hr>
    <ul class="list-unstyled">
    	<li><a href="#"><i class="qq-icon"></i> 在线客服1 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="#"><i class="qq-icon"></i> 在线客服1 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="#"><i class="qq-icon"></i> 在线客服1 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="#"><i class="qq-icon"></i> 在线客服1 <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
    </ul>
</div>

<!--导航左侧浮动-->
<div class="celan">
<div class="left-nav">
	<div class="left-nav-after">
    	<div class="title"><img src="/images/sd02.png"></div>
        <ul class="list-unstyled">
        	<li><a href="#">极速注册公司</a></li>
            <li><a href="#">1元注册公司</a></li>
            <li><a href="#">注册教育公司</a></li>
            <li><a href="#">注册影视公司</a></li>
            <li><a href="#">注册电商公司</a></li>
            <li><a href="#">自贸区注册公司</a></li>
            <li><a href="#">注册外贸公司</a></li>
        </ul>
        <div class="ewm"><img src="/images/ewm-kyl.png" class="img-responsive"><p>扫一扫，关注开业啦</p></div>
    </div>
    <div class="left-nav-befor"><img src="/images/sd01.png"></div>
</div>
</div>

<script src="/js/idangerous.swiper-2.0.min.js"></script>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.paginationGd',
    paginationClickable: true
  })
  </script>
</template>