<template name="speedup">

<div class="banner-cy">
  <div class="container">
    <div class="col-xs-12"> <img src="/images/banner-cy.png" class="img-responsive"> </div>
  </div>
</div>
<div class="page page-cy">
  <h1><img src="/images/cy_title.png" title="5大引擎助你起飞"></h1>
  <div class="container">
    <h2>一、前期风险预控</h2>
    <div class="row">
      <div class="col-xs-4 text-right"><img src="/images/cy_icon_01.png"></div>
      <div class="col-xs-8">
        <p>帮助创业公司在创业初期的股权结构、公司架构，</p>
        <p>及在财务和法律财务等领域提供专业支持</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>二、在线公司注册</h2>
    <div class="row">
      <div class="col-xs-4 text-right"><img src="/images/cy_icon_02.png"></div>
      <div class="col-xs-8">
        <p>足不出户开公司，</p>
        <p>线上搞定工商注册、股权变更等操作</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>三、对接资本/政策</h2>
    <div class="row">
      <div class="col-xs-4 text-right"><img src="/images/cy_icon_03.png"></div>
      <div class="col-xs-8">
        <p>开业啦将帮助创业公司对接天使投资，VC和政府</p>
        <p>相关部门，协助其获得资本和政策支持。</p>
      </div>
    </div>
    <div class="cy-logo">
      <div class="marquee">
        <ul>
          <li><img src="/images/fhq/logo-idg.png"></li>
          <li><img src="/images/fhq/logo-jwzg.png"></li>
          <li><img src="/images/fhq/logo-qmct.png"></li>
          <li><img src="/images/fhq/logo-sgst.png"></li>
          <li><img src="/images/fhq/logo-shkw.png"></li>
          <li><img src="/images/fhq/logo-pre.png"></li>
          <li><img src="/images/fhq/logo-kcy.png"></li>
          <li><img src="/images/fhq/logo-cxct.png"></li>
          <li><img src="/images/fhq/logo-cyjl.png"></li>
          <li><img src="/images/fhq/logo-cytd.png"></li>
          <li><img src="/images/fhq/logo-syfhq.png"></li>
          <li><img src="/images/fhq/logo-ynts.png"></li>
          <li><img src="/images/fhq/logo-zj.png"></li>
          <li><img src="/images/fhq/logo-hkkw.png"></li>
        </ul>
      </div>
      <a href="javascript:void(0)" class="pre-btn goL"><span class="glyphicon glyphicon-chevron-left"></span></a> <a href="javascript:void(0)" class="next-btn goR"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
  </div>
  <div class="container">
    <h2>四、媒体曝光</h2>
    <div class="row">
      <div class="col-xs-4 text-right"><img src="images/cy_icon_04.png"></div>
      <div class="col-xs-8">
        <p>50家媒体资源，充足媒体曝光度，</p>
        <p>满足创业者迫切的曝光需求</p>
      </div>
    </div>
    <div class="cy-logo">
      <div class="marquee2">
        <ul>
          <li><img src="/images/mt/logo-36.png"></li>
          <li><img src="/images/mt/logo-cyb.png"></li>
          <li><img src="/images/mt/logo-donews.png"></li>
          <li><img src="/images/mt/logo-hx.png"></li>
          <li><img src="/images/mt/logo-ihm.png"></li>
          <li><img src="/images/mt/logo-ipo.png"></li>
          <li><img src="/images/mt/logo-it.png"></li>
          <li><img src="/images/mt/logo-souhu.png"></li>
          <li><img src="/images/mt/logo-tn.png"></li>
          <li><img src="/images/mt/logo-top9.png"></li>
          <li><img src="/images/mt/logo-tt.png"></li>
        </ul>
      </div>
      <a href="javascript:void(0)" class="pre-btn goL2"><span class="glyphicon glyphicon-chevron-left"></span></a> <a href="javascript:void(0)" class="next-btn goR2"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
  </div>
  <div class="container">
    <h2>五、创业护照</h2>
    <div class="row">
      <div class="col-xs-4 text-right"><img src="/images/cy_icon_05.png"></div>
      <div class="col-xs-8">
        <p>免费领取创业护照，加入上海最大的线下活动社区，和顶级VC、创业者、投资人、媒体人亲密接触，拓展人脉，</p>
        <p>还可以免费参加每月几十场不同主题的创业者交流、项目展示、线下路演、投资人对接等精彩活动</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>现在加入，不要错过</h2>
    <div class="row">
      <div class="col-xs-12 mt30 text-center"><img src="/images/ewm-kyl.png" width="140">
        <p>扫描二维码，加入我们</p>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  //一次滚动一屏，不自动滚动，点击滚动
  $('.marquee').kxbdSuperMarquee({
	  distance:960,
	  time:3,
	  btnGo:{left:'.goL',right:'.goR'},
	  direction:'left'
  });
  
  $('.marquee2').kxbdSuperMarquee({
	  distance:960,
	  time:3,
	  btnGo:{left:'.goL2',right:'.goR2'},
	  direction:'left'
  });
});
</script>
</template>