<template name="faq">

<div class="banner-sub banner-sub-04">
  <h1 class="hidden">常见问题</h1>
</div>
<div class="container childCon">
  <div class="col-xs-3">
    <div class="subNav">
      <h1>开业啦</h1>
      <ul>
        <li><a href="{{pathFor 'aboutus'}}">关于我们</a></li>
        <li><a href="{{pathFor 'joinus'}}">加入我们</a></li>
        <li><a href="{{pathFor 'contactus'}}">联系我们</a></li>
        <li class="cur"><a href="{{pathFor 'faq'}}">常见问题</a></li>
        <li><a href="{{pathFor 'help'}}">支付帮助</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-9 childRight problem">
    <div class="box">
      <h1>售前咨询</h1>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>问：</strong>我有疑问该问谁？</div>
        <div class="panel-body">
          <strong>答：</strong><p>有任何疑问可以直接拨打我们的客服专线：400-066-3192。<br>
          	 或者直接在首页免费咨询区输入手机号码，我们会在2分钟内与您联系。</p>
        </div>
      </div>
    </div>
    
    <div class="box">
      <h1>如何支付</h1>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>问：</strong>有哪几种支付方式？</div>
        <div class="panel-body">
          <strong>答：</strong><p>目前网站上支持微信支付和支付宝，任选其一即可。 </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>问：</strong>我没有微信支付和支付宝，怎么办？</div>
        <div class="panel-body">
          <strong>答：</strong><p>如果您没有这两种支付方式，可以通过银行汇款或当面支付，具体详情请与客服沟通联系。</p>
        </div>
      </div>
    </div>
    
    <div class="box">
      <h1>服务方式</h1>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>问：</strong>购买之后如何服务？</div>
        <div class="panel-body">
          <strong>答：</strong><p>购买相应产品后，我们会立即有专人与你联系，提供一对一的专门服务。</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>问：</strong>我需要的服务在网站上找不到怎么办？</div>
        <div class="panel-body">
          <strong>答：</strong><p>目前网站上提供的都是标准化的服务，如果您需要其它服务，只要创业服务相关，都可以与我们的客服人员联系，我们会针对您的需求提供个性化的服务。</p>
        </div>
      </div>
      
    </div>
    
    <div class="box">
    	<h1>如何开具发票？</h1>
        <div class="panel panel-default">
        <div class="panel-heading"><strong>问：</strong>如何开具发票？</div>
        <div class="panel-body">
          <strong>答：</strong><p>开业啦提供的收费服务均可提供发票。为了保证发票开具的准确性，收票方必须先行提交填写发票所需的准确信息。发票将在交易结束后开具。</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<!--引用百度地图API-->
<style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(121.447914,31.253427);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"开业啦",content:"开业啦(上海)网络技术有限公司",point:"121.447995|31.253365",isOpen:1,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
		 ,{title:"我的标记",content:"我的备注",point:"121.450348|31.255186",isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
		 ];
    //创建marker

    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>

</template>
