<template name="homepage">

{{> index_banner}}

<div class="page">
  <div class="container">
    <div class="tabs tabs-style-fillup">
      <nav>
        <ul>
          <li><a href="#section-fillup-1">
            <h2>公司注册</h2>
            </a></li>
          <li><a href="#section-fillup-2">
            <h2>代理记账</h2>
            </a></li>
          <li><a href="#section-fillup-3">
            <h2>银行开户</h2>
            </a></li>
        </ul>
      </nav>
      <div class="content-wrap">
        <section id="section-fillup-1">
          <div class="row animated fadeInUp">
            <div class="col-xs-4">
              <div class="bd-box pro-list2">
                <div class="pro-list2-t"><img src="images/pro-t.png" class="img-responsive"></div>
                <h2>极速公司注册</h2>
                <p>无需股东到场，16天极速办理</p>
                <div class="text-center"><Img src="images/pro-icon.png"></div>
                <div class="pro-list2-footer">
                  <div class="price">￥<span>1000.00</span></div>
                  <div class="pro-btn"><a href="{{pathFor 'jisu'}}">查看详情</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="bd-box pro-list2 pro-list-blue">
                <div class="pro-list2-t"><img src="images/pro-t2.png" class="img-responsive"></div>
                <h2>电商公司注册</h2>
                <p>专业电商解决方案，极速办理</p>
                <div class="text-center"><Img src="images/pro-icon2.png"></div>
                <div class="pro-list2-footer">
                  <div class="price">￥<span>1000.00</span></div>
                  <div class="pro-btn"><a href="{{pathFor 'dianshang'}}">查看详情</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="bd-box pro-list2 pro-list-orange">
                <div class="pro-list2-t"><img src="images/pro-t3.png" class="img-responsive"></div>
                <h2>一元公司注册</h2>
                <p>一元三证三章全到手 不含其他隐性收费</p>
                <div class="text-center"><Img src="images/pro-icon3.png"></div>
                <div class="pro-list2-footer">
                  <div class="price">￥<span>1.00</span></div>
                  <div class="pro-btn"><a href="{{pathFor 'yiyuan'}}">查看详情</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="section-fillup-2">
          <div class="row  animated fadeInUp">
            <div class="col-xs-12"> <a href="{{pathFor 'jizhang'}}"><img src="images/pro-dljz.png"></a> </div>
          </div>
        </section>
        <section id="section-fillup-3">
          <div class="row animated fadeInUp">
            <div class="col-xs-12"> <a href="{{pathFor 'yinhang'}}"><img src="images/pro-yhkh.png"></a> </div>
          </div>
        </section>
      </div>
      <!-- /content --> 
    </div>
  </div>
</div>



<div class="page advantage">
  <div class="container">
    <h1>我们的优势</h1>
    <div class="row">
      <div class="col-xs-4">
        <div class="advantage-list text-center">
          <div class="hi-icon img-circle ">
            <h2>简</h2>
            <p>全程线上办理</p>
            <p>随时服务不用出门</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="advantage-list text-center">
          <div class="hi-icon img-circle ">
            <h2>好</h2>
            <p>流程透明价格透明</p>
            <p>业务进度实时掌控</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="advantage-list text-center">
          <div class="hi-icon img-circle ">
            <h2>爽</h2>
            <p>专人服务快速响应</p>
            <p>自营服务品质保证</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page">
  <div class="container">
    <h1> 业务进度随时掌控
      <div class="help-block">关注开业啦微信服务号</div>
    </h1>
    <div class="text-center"><img src="images/emw-big.jpg"></div>
  </div>
</div>
<div class="page evaluation">
  <div class="container">
    <h1>他们怎么说</h1>
    <div class="tabs tabs-style-circle">
      <nav>
        <ul>
          <li><a href="#section-circle-1"><img class="img-circle" src="/images/qy-icon01.png"></a></li>
          <li><a href="#section-circle-2" class="icon icon-gift"><img class="img-circle" src="/images/qy-icon03.png"></a></li>
          <li><a href="#section-circle-3" class="icon icon-box"><img class="img-circle" src="/images/qy-icon04.png"></a></li>
          <li><a href="#section-circle-4" class="icon icon-date"><img class="img-circle" src="/images/qy-icon02.png"></a></li>
          <li><a href="#section-circle-5" class="icon icon-plane"><img class="img-circle" src="/images/qy-icon05.png"></a></li>
        </ul>
      </nav>
      <div class="content-wrap">
        <section id="section-circle-1">
          <div class="says-con  animated fadeInDown">
            <p>开业啦办理速度很快，服务热情周到，完全超出预期，节省了我们不少时间。</p>
            <p class="text-right"><strong>李旭磊</strong>/ 人人习惯</p>
            <span class="says-con-arrow"><img src="images/tips-arrow.png"></span> </div>
          <div class="row animated fadeInLeft">
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-01.png"></p>
                <h2>极速公司注册</h2>
                <p>不用股东到场<br>
                  16天极速办理，超时就赔</p>
                <strong class="text-kyl">￥<span>1000.00</span></strong> <a href="{{pathFor 'jisu'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-13.png"></p>
                <h2>财务代理</h2>
                <p>懂财务<br>
                  更懂你所需</p>
                <strong class="text-kyl">￥<span>100.00</span></strong> <a href="{{pathFor 'jizhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-12.png"></p>
                <h2>银行开户</h2>
                <p>专人办理<br>
                  节省时间和精力</p>
                <strong class="text-kyl">￥<span>200.00</span></strong> <a href="{{pathFor 'yinhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
          </div>
        </section>
        <section id="section-circle-2">
          <div class="says-con  animated fadeInDown">
            <p>筹备创业的时候太忙了，出差回来公司就注册好了，尤为要感谢的是开业啦还免费帮我们发布了招聘信息，这么靠谱的公司，希望越做越好，让更多的创业者受益。</p>
            <p class="text-right"><strong>田国良</strong>/ 彩虹育儿</p>
            <span class="says-con-arrow"><img src="images/tips-arrow.png"></span> </div>
          <div class="row animated fadeInLeft">
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-01.png"></p>
                <h2>极速公司注册</h2>
                <p>不用股东到场<br>
                  16天极速办理，超时就赔</p>
                <strong class="text-kyl">￥<span>1000.00</span></strong> <a href="{{pathFor 'jisu'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-13.png"></p>
                <h2>代理记账</h2>
                <p>懂财务<br>
                  更懂你所需</p>
                <strong class="text-kyl">￥<span>100.00</span></strong> <a href="{{pathFor 'jizhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-12.png"></p>
                <h2>银行开户</h2>
                <p>专人办理<br>
                  节省时间和精力</p>
                <strong class="text-kyl">￥<span>200.00</span></strong> <a href="{{pathFor 'yinhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
          </div>
        </section>
        <section id="section-circle-3">
          <div class="says-con  animated fadeInDown">
            <p>合作过程非常愉快！从种子期开始合作，服务一直非常的满意。让我能把更多的精力和时间放在产品和团队上，对我的帮助很大！</p>
            <p class="text-right"><strong>吴挺</strong>/ 17租吧</p>
            <span class="says-con-arrow"><img src="images/tips-arrow.png"></span> </div>
          <div class="row animated fadeInLeft">
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-01.png"></p>
                <h2>极速公司注册</h2>
                <p>不用股东到场<br>
                  16天极速办理，超时就赔</p>
                <strong class="text-kyl">￥<span>1000.00</span></strong> <a href="{{pathFor 'jisu'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-13.png"></p>
                <h2>代理记账</h2>
                <p>懂财务<br>
                  更懂你所需</p>
                <strong class="text-kyl">￥<span>100.00</span></strong> <a href="{{pathFor 'jizhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-12.png"></p>
                <h2>银行开户</h2>
                <p>专人办理<br>
                  节省时间和精力</p>
                <strong class="text-kyl">￥<span>200.00</span></strong> <a href="{{pathFor 'yinhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
          </div>
        </section>
        <section id="section-circle-4">
          <div class="says-con  animated fadeInDown">
            <p>过程非常顺畅，把流程这么繁琐的业务做的效率这么高，技术很牛，客服也非常的专业。</p>
            <p class="text-right"><strong>鬼脚七</strong>/ 老A电商学院</p>
            <span class="says-con-arrow"><img src="/images/tips-arrow.png"></span> </div>
          <div class="row animated fadeInLeft">
            <div class="col-xs-4 col-xs-offset-2">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-00.png"></p>
                <h2>电商公司注册</h2>
                <p>专业电商解决方案<br>
                  极速办理</p>
                <strong class="text-kyl">￥<span>1000.00</span></strong> <a href="{{pathFor 'dianshang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-12.png"></p>
                <h2>银行开户</h2>
                <p>专人办理<br>
                  节省时间和精力</p>
                <strong class="text-kyl">￥<span>200.00</span></strong> <a href="{{pathFor 'yinhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
          </div>
        </section>
        <section id="section-circle-5">
          <div class="says-con animated fadeInDown">
            <p>对于创业者来说，公司注册流程和财税是创业初期避不开的问题。通过公司注册这个流量入口，延伸到后续的企业增值服务，开业啦是我非常看好的模式。</p>
            <p class="text-right"><strong>大郭</strong>/ 昊欧资本</p>
            <span class="says-con-arrow"><img src="/images/tips-arrow.png"></span> </div>
          <div class="row animated fadeInLeft">
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-01.png"></p>
                <h2>极速公司注册</h2>
                <p>不用股东到场<br>
                  16天极速办理，超时就赔</p>
                <strong class="text-kyl">￥<span>1000.00</span></strong> <a href="{{pathFor 'jisu'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-13.png"></p>
                <h2>代理记账</h2>
                <p>懂财务<br>
                  更懂你所需</p>
                <strong class="text-kyl">￥<span>100.00</span></strong> <a href="{{pathFor 'jizhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
            <div class="col-xs-4">
              <div class="pro-list">
                <p><img src="/images/iconzcgs-b-12.png"></p>
                <h2>银行开户</h2>
                <p>专人办理<br>
                  节省时间和精力</p>
                <strong class="text-kyl">￥<span>200.00</span></strong> <a href="{{pathFor 'yinhang'}}" class="btn btn-line">查看详情</a> </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /content --> 
    </div>
  </div>
</div>

{{> friend_link}}

<script>
 
(function() {
  [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
    new CBPFWTabs( el );
  });

})();

$('.news-container').vTicker({
  speed: 500,
  pause: 3000,
  showItems: 1,
  animation: 'fade',
  mousePause: false,
  height: 0,
  direction: 'up'
});

$('.resub-btn').click(function(){
  $('.submit-end').hide();
  $('.submit-tel').slideDown();
})
  
$('#close_im').bind('click',function(){
  $('#main-im').css("height","0");
  $('#im_main').hide();
  $('#open_im').show();
});

$('#open_im').bind('click',function(e){
  $('#main-im').css("height","272");
  $('#im_main').show();
  $(this).hide();
});

$('.go-top').bind('click',function(){
  $(window).scrollTop(0);
});

$(".weixing-container").bind('mouseenter',function(){
  $('.weixing-show').show();
})
$(".weixing-container").bind('mouseleave',function(){        
  $('.weixing-show').hide();
});
</script>
</template>