<template name="joinus">

<div class="banner-sub banner-sub-02">
  <h1 class="hidden">加入我们</h1>
</div>
<div class="container childCon">
  <div class="col-xs-3">
    <div class="subNav">
      <h1>开业啦</h1>
      <ul>
        <li><a href="{{pathFor 'aboutus'}}">关于我们</a></li>
        <li class="cur"><a href="{{pathFor 'joinus'}}">加入我们</a></li>
        <li><a href="{{pathFor 'contactus'}}">联系我们</a></li>
        <li><a href="{{pathFor 'faq'}}">常见问题</a></li>
        <li><a href="{{pathFor 'help'}}">支付帮助</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-9 childRight rightText">
    <div class="box">
      <h1>加入我们</h1>
      <p class="text-center">当发现了问题，你是否迫不及待想怎么解决？</p>
      <p class="text-center">如果没有解决方案，你是否会自己立刻动手创造解决方案？</p>
      <p class="text-center">无论是写代码，板砖还是求教学习？</p>
      <p class="text-center">你是否还保留着儿童般好奇心？</p>
      <p class="text-center">是否拥有一颗开放的心态？</p>
      <p class="text-center">是否崇尚自由？藐视权威？</p>
      <p class="text-center text-kyl">如果回答都是yes，别犹豫了，地球上只有 <strong>开业啦</strong> 才容的下你。</p>
    </div>
    <div class="box joinus">
      <h1>开业啦职位信息</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">SEM/SEO专员</div>
        <div class="panel-body">
          <dl>
            <dt>工作职责</dt>
            <dd>1、负责web端的优化及推广内容编辑等工作；</dd>
            <dd>2、以产品化的思路与同事一起讨论运营方法、制定优秀的推广方案、执行推广计划；</dd>
            <dd>3、负责网站SEM付费推广计划的执行，如百度、搜狗、360等，账号维护，数据统计分析工作；</dd>
            <dd>4、负责网站SEO搜索引擎优化工作，邮件、软文、论坛、客户端信息等技术性推广工作；</dd>
          </dl>
          <hr>
          <dl>
            <dt>要求</dt>
            <dd>1、1年以上SEO或SEM推广工作经验；</dd>
            <dd>2、能够根据产品及网站特点制定优化策略；</dd>
            <dd>3、深入了解互联网用户，尤其搜索引擎用户行为模式；</dd>
            <dd>4、有创业经验，大加分；</dd>
            <dd>5、文案能力突出，大加分；</dd>
            <dd>6、擅长数据挖掘，大大加分；</dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">BD市场推广专员</div>
        <div class="panel-body">
          <dl>
            <dt>工作职责</dt>
            <dd>1、负责熟悉互联网资源合作、内容合作、活动合作、广告合作、整合各种推广渠道，开展深度合作；</dd>
            <dd>2、根据公司业务发展需求以及公司战略方向，针对各大门户、新媒体、App、论坛等相关平台展开合作，深入拓展合作关系；</dd>
            <dd>3、独立完成商务谈判，并维护商务合作关系，对整个商务合作的过程和结果负责，规划合作项目计划及进度执行；</dd>
            <dd>4、能结合网站优势及自身资源找准合作切入点，建立良好人脉关系；</dd>
            <dd>5、对网络推广和渠道运营等情况跟踪，收集市场竞争信息，推出推广运营思路，做出分析报告。</dd>
          </dl>
          <hr>
          <dl>
            <dt>要求</dt>
            <dd>1、1年及以上相关经验；</dd>
            <dd>2、有互联网行业销售、策划工作经验者优先；</dd>
            <dd>3、熟悉网络营销渠道和传统市场渠道者优先；</dd>
            <dd>4、有很好的媒体关系，加分</dd>
            <dd>5、具备良好商务谈判技巧，大加分；</dd>
            <dd>6、具有一定文案撰写能力，大加分。</dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">售前咨询</div>
        <div class="panel-body">
          <dl>
            <dt>工作职责</dt>
            <dd>1、提供优质的在线和电话咨询，解答客户的疑问；</dd>
            <dd>2、受理客户反馈的售后问题及投诉，协助客户获得满意的解决方案；</dd>
            <dd>3、客户相关信息的录入管理，建立客户档案，提交工作报表；</dd>
            <dd>4、对其他部门的相关工作提供支持与协助。</dd>
          </dl>
          <hr>
          <dl>
            <dt>要求</dt>
            <dd>1、普通话标准，口齿清楚，出色的语言表达能力，女生优先；</dd>
            <dd>2、熟练使用办公软件，听打速度佳；</dd>
            <dd>3、良好的心理素质及自我调节能力，乐观积极向上的工作态度；</dd>
            <dd>4、学习能力强，认真踏实，有责任心，具备良好的团队意识；</dd>
            <dd>5、热爱客户服务工作，具备公司注册或相关工作经验者优先。</dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">Node.js开发工程师</div>
        <div class="panel-body">
        	<dl>
              <dt>工作职责</dt>
              <dd>1、负责web端的开发和优化；</dd>
              <dd>2、以产品化的思路与同事一起讨论技术、制定优秀的解决法案、开发核心模块；</dd>
            </dl>
            <hr>
            <dl>
              <dt>要求</dt>
              <dd>1、1年以上前端或后端开发经验，热爱全栈编程；</dd>
              <dd>2、熟悉至少一种NodeJS的MVC流行框架，如：Express.js；</dd>
              <dd>3、熟悉MongoDB等NoSQL数据库及其ORM；</dd>
              <dd>4、熟悉至少一种除NodeJS外的后端语言，如：PHP、Python；</dd>
              <dd>5、有全栈编程能力，熟悉HTML5/CSS3，大加分； </dd>
              <dd>6、有创业经验，大加分；</dd>
              <dd>7、熟练操作Linux，大加分；</dd>
              <dd>8、Github重度使用者，大大加分；</dd>
              <dd>9、了解各种新鲜技术，选择最佳实现，憧憬移动互联网的发展，从中获取喜悦和成就感。</dd>
            </dl>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  //一次滚动一屏，不自动滚动，点击滚动
  $('.marquee').kxbdSuperMarquee({
    distance:960,
    time:3,
    btnGo:{left:'.goL',right:'.goR'},
    direction:'left'
  });

  $('.marquee2').kxbdSuperMarquee({
    distance:960,
    time:3,
    btnGo:{left:'.goL2',right:'.goR2'},
    direction:'left'
  });
});
</script>
</template>