<template name="footer">
  <div class="layer">
    <div class="inner">

      <div class="logo-container">
        <img src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/images/main/footer-logo.png" alt="">
        <div class="footer-slogon">
          成就每一个创业梦想       
        </div>        
      </div>
      <div class="main-container">
        <div>
          <ul class="link">
          <li>
            <a href="/aboutus">
              <i class="icon icon-1"></i>
              <p>关于我们</p>
            </a>
          </li>
          <li>
            <a href="/joinus">
              <i class="icon icon-3"></i>
              <p>加入我们</p>
            </a>
          </li>          
          <li>
            <a href="/contactus">
              <i class="icon icon-2"></i>
              <p>联系我们</p>
            </a>
          </li>

          <li>
            <a href="/channel">
              <i class="icon icon-4"></i>
              <p>合作渠道</p>
            </a>
          </li>
          <li>
            <a href="http://weibo.com/kylsh" target="_blank">
              <i class="icon icon-6"></i>
              <p>微博</p>
            </a>
          </li>

        </ul>
        </div>
        <div class="object-container">
          <ul class="means">
            <li>
              <a href="/registration">公司注册</a>
            </li>
            <li class="divide">|</li>
            <li>
              <a href="/finance">小企财云</a>
            </li>
            <li class="divide">|</li>
            <li>           
              <a href="/checkname">一企查</a>
            </li>                        
          </ul>          
        </div>
        <div class="copyright">
          <p>Copyright © 2015开业啦（上海）网络技术有限公司版权所有</p>
          <p>沪ICP备14049667号-1</p>
        </div>
      </div>
      <div class="qrcode-container">
        <img src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/images/main/footer-qrcode.png" alt="">
        <div class="footer-phone">
          电话：400-066-3192
        </div>        
      </div>

    </div>
  </div>
</template>