<head>
  <title>开业啦（上海）网络技术有限公司</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
  <link rel="icon" sizes="16x16 32x32" href="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/favicon.ico?v=2">
  <script src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/js/js-cookie.js"></script>
  <script id='spay-script' src='https://jspay.beecloud.cn/1/pay/jsbutton/returnscripts?appId=595e34c0-4185-4b60-ae67-afd7f8af3577'></script>
  <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
  <script>
  //百度统计代码 
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?f4df32bf7c1ad9545679696a5806e7ad";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</head>
