<template name="header">
  <div class="site-wrapper header">
    <a href="/" class="logo">
      <img src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/images/logo.png?v=1.6" alt="">
    </a>
    <ul class="nav navbar-nav left-bar headerL">
      <li class="active"><a href="/">首页</a>
      </li>
<!--
      <li class="dropdown serviceL">
        <a href="/registration/jisu">产品服务</a>
      </li>
-->
      <li class="dropdown serviceL">
        <a href="/registration/jisu">公司注册</a>
      </li>    
      <li class="dropdown">
        <a href="/finance">财务代理</a>
      </li>                        
      <li class="solutionL">
        <a href="/solution">解决方案</a>
      </li>
      <li class="toolsL">
        <a href="/checkname">工具</a>
      </li>
      <li class="supportL">
        <a href="http://z.kyl.biz">帮助与支持</a>
      </li>
    </ul>    
    {{#if currentUser}}
    <ul class="nav unlogin right-bar usercenterL">
      <li class="shopcartL">
        <a href="/shopcart">
          <img src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/images/shopcart.png" alt="">
        </a>
      </li>
      <li>
        <ul class="navbar-right">
          <li class="dropdown no-margin">
            <span href="#" class="dropdown-toggle">
                欢迎您，{{username}} <i class="dropdown icon"></i>
            </span>
            <ul class="dropdown-menu">
              <li><a href="/user/orders">个人中心</a></li>
              <li><a id="logout" href="/logout">退出</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    {{else}}
    <div class="logon right-bar accountL">
      <div class="login-button"><a href="/login">登录</a>
      </div>
      <span>|</span>
      <div class="register-button"><a href="/register">注册</a>
      </div>
    </div>
    {{/if}}
  </div>
</template>

<template name="staticheader">
  <div class="site-wrapper header">
    <a href="/" class="logo">
      <img src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/images/logo.png?v=1.6" alt="">
    </a>
    <ul class="nav navbar-nav left-bar headerL">
      <li class="active"><a href="/">首页</a>
      </li>
<!--
      <li class="dropdown serviceL">
        <a href="/registration/jisu">产品服务</a>
      </li>
-->
      <li class="dropdown serviceL">
        <a href="/registration/jisu">产品服务</a>
      </li>           
      <li class="solutionL">
        <a href="/solution">解决方案</a>
      </li>
      <li class="toolsL">
        <a href="/checkname">工具</a>
      </li>
      <li class="supportL">
        <a href="http://z.kyl.biz">帮助与支持</a>
      </li>
    </ul>
    <!-- 未登录 -->
    <div class="logon right-bar accountL hidden">
      <div class="login-button"><a href="/login">登录</a>
      </div>
      <span>|</span>
      <div class="register-button"><a href="/register">注册</a>
      </div>
    </div>
    <!-- 登录 -->
    <ul class="nav unlogin right-bar usercenterL hidden">
      <li class="shopcartL" style="margin-top:20px;">
        <a href="/shopcart">
          <img src="http://www-kyl-biz.oss-cn-shanghai.aliyuncs.com/assets/images/shopcart.png" alt="">
        </a>
      </li>
      <li>
        <ul class="navbar-right">
          <li class="dropdown no-margin">
            <span href="#" class="dropdown-toggle">
                欢迎您，<span class="username"></span>
            <i class="dropdown icon"></i>
            </span>
            <ul class="dropdown-menu">
              <li><a href="/user/orders">个人中心</a>
              </li>
              <li><a id="logout" href="/logout">退出</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>