<head>
  <title>开业啦(上海)网络科技有限公司</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <script src="/js/js-cookie.js"></script>
  <script id='spay-script' src='https://jspay.beecloud.cn/1/pay/jsbutton/returnscripts?appId=595e34c0-4185-4b60-ae67-afd7f8af3577'></script>
  <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
  <script src="http://s11.cnzz.com/z_stat.php?id=1254585758&web_id=1254585758" language="JavaScript"></script>
</head>