<template name="dianshang">

<div class="sub-banner banner-zcgs4">
<div class="container">
<div class="sub-text animated fadeInLeft"><img src="/images/banner-gszc04.png"></div>
<div class="free-box animated fadeInDown">
<h1>电商公司注册</h1>
<h2>全程在线操作，注册公司更简单</h2>
<hr>
<div class="form-group">
<label for="mobile">公司注册地：</label>
<ul class="pro-address">
<li class="cur"><span data-money="1000" data-ewm="<img src='images/pay-gszc4-1000.png'/>">杨浦</span></li>
<li><span data-money="1000" data-ewm="<img src='images/pay-gszc4-1000.png'/>">虹口</span></li>
<li><span data-money="1000" data-ewm="<img src='images/pay-gszc4-1000.png'/>">浦东</span></li>
<li><span data-money="500" data-ewm="<img src='images/pay-gszc4-500.png'/>">松江</span></li>
<li><span data-money="1000" data-ewm="<img src='images/pay-gszc4-1000.png'/>">普陀</span></li>
<li><span data-money="600" data-ewm="<img src='images/pay-gszc4-600.png'/>">青浦</span></li>
</ul>
</div>
<div class="form-group">
<label>开业啦价：</label>
<span>￥<strong class="gszcMoney">1000</strong></span>
</div>
<button type="button" data-placement="left"  data-toggle="popover" data-html="true" title="打开微信，扫描二维码购买" data-trigger="focus" data-content="<img src='images/pay-gszc4-1000.png'/>" class="btn btn-kyl btn-block btn-ewm">扫二维码，微信购买</button>
</div>
</div>
</div>

{{> content_zhuce}}

</template>