<template name="jizhang">

<div class="sub-banner banner-dljz">
  <div class="container">
    <div class="sub-text animated fadeInLeft"><img src="/images/banner-dljz.png"></div>
    <div class="free-box animated fadeInDown">
      <h1>代理记账</h1>
      <h2>懂财务，更懂你所需</h2>
      <hr>
      <form>
        <div class="form-group">
          <label>小规模：</label>
          <ul class="pro-address">
              <li class="cur"><span data-money="300" data-ewm="<img src='images/pay-dljz1.png'/>">季度</span></li>
              <li><span data-money="600" data-ewm="<img src='images/pay-dljz2.png'/>">半年</span></li>
              <li><span data-money="1200" data-ewm="<img src='images/pay-dljz3.png'/>">一年</span></li>
          </ul>
        </div>
        <div class="form-group" style="margin-bottom:0px; display: none;">
          <label>一般纳税人：</label>
          <ul class="pro-address">
              <li><span data-money="600" data-ewm="<img src='images/pay-dljz4.png'/>">季度</span></li>
              <li><span data-money="1800" data-ewm="<img src='images/pay-dljz5.png'/>">半年</span></li>
              <li><span data-money="3000" data-ewm="<img src='images/pay-dljz6.png'/>">一年</span></li>
          </ul>
        </div>
        <div class="form-group">
          <label>开业啦价：</label>
          <span>￥<strong class="gszcMoney">300</strong></span>
          <p class="help-block"><small>（此价格仅为代理记账和纳税申报的价格）</small></p>
        </div>
        <button type="button" data-placement="left" data-trigger="focus"  data-toggle="popover" data-html="true" title="打开微信，扫描二维码购买" data-content="<img src='images/pay-dljz1.png'/>" class="btn btn-kyl btn-block btn-ewm">扫二维码，微信购买</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{pathFor 'homepage'}}">首页</a></li>
    <li class="active">代理记账</li>
  </ol>
</div>
<div class="page pro-text-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>只要专职会计<span class="text-kyl">半个月的工资</span> 就可享受开业啦 <span class="text-kyl">一年的财务服务</span></p>
        <p>通过我们专业知识和丰富的实践经验</p>
        <p>思考和看待问题更加 <span class="text-kyl">全面和深远</span></p>
        <p>能够针对企业具体情况提供专业的财务解决方案</p>
      </div>
    </div>
  </div>
</div>
<div class="page step4">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 text-center br">
        <div class="line-box img-circle"><img src="/images/icon-bank-ukey.png" class="img-responsive"></div>
        <h2>规范</h2>
        <p>专业财务管理体系<br>
          严格复查管理</p>
      </div>
      <div class="col-xs-3 text-center br">
        <div class="line-box img-circle"><img src="/images/icon-bank-wy.png" class="img-responsive"></div>
        <h2>专业</h2>
        <p>服务上千家企业<br>
          自有专业团队</p>
      </div>
      <div class="col-xs-3 text-center br">
        <div class="line-box img-circle"><img src="/images/icon-bank-qyk.png" class="img-responsive"></div>
        <h2>资质</h2>
        <p>上海市代理记账协会<br>
          副会长单位</p>
      </div>
      <div class="col-xs-3 text-center">
        <div class="line-box img-circle"><img src="/images/icon-bank-xkz .png" class="img-responsive"></div>
        <h2>价优</h2>
        <p>用互联网技术优化记账方式<br>
          为客户降低成本</p>
      </div>
    </div>
  </div>
</div>
<div class="page grey-bg">
  <div class="container">
    <h1>我们的优势</h1>
    <div class="row">
      <div class="col-xs-12 text-center">
        <table class="table table-bordered table-hover dljz-tab">
          <thead>
          <th class="bg-grey-dark">自有财务</th>
            <th>PK</th>
            <th class="bg-kyl">开业啦</th>
              </thead>
          <tbody>
            <tr>
              <td>5000元以上/月</td>
              <td>费用</td>
              <td>1/20（自有财务）</td>
            </tr>
            <tr>
              <td>难</td>
              <td>招聘</td>
              <td>专业财务管理体系，严格复查体系</td>
            </tr>
            <tr>
              <td>1-3</td>
              <td>人数</td>
              <td>50人专业团队</td>
            </tr>
            <tr>
              <td>流动可能性大</td>
              <td>人员</td>
              <td>没有影响</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="page">
  <div class="container">
    <h1>服务项目</h1>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover project-tab">
          <thead>
          <th>半托管</th>
            <th></th>
            <th>全托管</th>
              </thead>
          <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-ok"></span></td>
              <td>核税</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-ok"></span></td>
              <td>记账</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-ok"></span></td>
              <td>网上申报</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-ok"></span></td>
              <td>年报公示</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-ok"></span></td>
              <td>汇缴清算</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr class="import">
              <td><span class="glyphicon glyphicon-remove"></span></td>
              <td>办税员</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-remove"></span></td>
              <td>购买发票</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-remove"></span></td>
              <td>税控机</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-remove"></span></td>
              <td>开票</td>
              <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="page grey-bg dljz-cost">
  <div class="container">
    <h1>费用说明</h1>
    <div class="row">
      <div class="col-xs-12">
        <p>小规模纳税人抄报税基础服务<strong class="text-kyl">100元/月</strong></p>
        <p>有业务进出时可以购买<strong class="text-kyl">记账流量包（10元/张）</strong>，具体请联系客服。</p>
        <p>年度财务<strong class="text-kyl">服务包500元</strong>（包含企业公示+汇算清缴）</p>
        <div class="help-block">
          <p>报税时需要购买法人一证通（U棒）50元</p>
            <p>开发票时需要购买金税盘（可抵扣）820元</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> howtoservice}}

</template>