<template name="weixianpin">

<div class="sub-banner banner-zcgs8">
<div class="container">
<div class="sub-text animated fadeInLeft"><img src="/images/banner-gszc08.png"></div>
<div class="free-box animated fadeInDown">
<h1>危险品公司注册</h1>
<h2>全程在线操作，注册公司更简单</h2>
<hr>
<div class="form-group">
<label>公司注册地：</label>
<ul class="pro-address">
<li class="cur"><span data-money="10000">金山</span></li>
</ul>
</div>
<div class="form-group">
<label>开业啦价：</label>
<span>￥<strong>10000</strong></span>
</div>
<button type="button" data-placement="left"  data-toggle="popover" data-html="true" title="打开微信，扫描二维码购买" data-content="<img src='/images/pay-gszc8.png'/>" class="btn btn-kyl btn-block">扫二维码，微信购买</button>
</div>
</div>
</div>

{{> content_zhuce}}

</template>